.Dictionary section {
  background: white;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 10%);
  border-radius: 10px;
}
.Dictionary h3 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.Dictionary input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px 10px;
  color: #333;
}
.Dictionary .hint {
  font-size: 12px;
  margin-top: 5px;
}
